body,
html {
  margin: 0;
  padding: 0;
}

.conteneur {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("http://images.elaparaibatest.fr/PhotosDescriptifBracelets/Bra76/1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteneur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.texteConteneur {
  color: white;
  font-size: 50px;
  text-align: center;
  position: absolute;
}

.listes {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.listes select {
  padding: 10px; /* Espace intérieur pour le contenu */
  font-size: 16px;
  border: 2px solid #ccc; /* Bordure */
  background-color: #f4f4f4; /* Couleur de fond */
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Style au survol d'une option */
.listes select:hover {
  border-color: black; /* Bordure plus foncée au survol */
  cursor: pointer;
}

/* Style au focus (lorsque la liste déroulante est sélectionnée) */
.listes select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre légère au focus */
}

.listeBijoux {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  grid-gap: 200px;
}

.produit {
  text-align: center;
  width: 350px; /* Largeur fixe pour chaque produit */
  height: 400px; /* Hauteur fixe pour chaque produit */
  position: relative;
  background-image: var(--image-par-defaut);
}

.produit img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste l'image pour couvrir tout le conteneur tout en conservant son rapport hauteur/largeur */
  object-position: center center; /* Centre l'image horizontalement et verticalement */
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: content 0.3s ease-in-out;
}

.produit h3 {
  margin-top: 10px;
  font-size: 18px;
}

.produit p {
  margin-top: 5px;
  color: #03889f;
  font-weight: bold;
}

.produit button {
  border: solid transparent;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  border-color: #03889f;
  background-color: white;
  color: #03889f;
}

.produit button:hover {
  cursor: pointer;
  background-color: #03889f;
  color: white;
}

#bouton-conteneur {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#voir-plus {
    border: solid transparent;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:50px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #03889f;
    color: white;
    font-size:20px;
}
    #voir-plus:hover {
        border: solid;
        border-width: 1px;
        cursor: pointer;
        background-color: white;
        color: #03889f;
    }

img.bijou-1 :hover {
  background-image: url("../images/PhotosdescriptifBo/Bo18/20230908_182247.jpg");
}
@media only screen and (max-width: 768px) {
    .listes select {
        width: 80%;
        padding-top:10px;
    }

    .listes option {
        display: block !important;
        width: 100% !important;
        box-sizing: border-box !important;
    }

    .listes {
        flex-direction: column
    }

    .produit img {
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .listes select {
        width: 80% ;
    }

    .listes option {
        display: block !important;
        width: 100% !important;
        box-sizing: border-box !important;
    }
    .listes {
        flex-direction: column
            
    }

    .produit img{
        width:300px;
    }
}

@media only screen and (max-width: 400px) {
    .produit img {
        width: 250px;
    }
    .listeBijoux{
        padding-left:0;
        padding-right:0;
    }
}