#presentationBijou {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px; 
}

#col1 {
    display: flex;
    flex-direction:column-reverse;
    gap:10px;
}

#bijouImage {
    object-fit: cover;
    width: 600px;
    height: 600px;
    border: 2px solid #03889f;
}

#miniatures {
    display: flex;
    gap: 10px;
}

#miniatures img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

#miniatures img:hover {
    border-color: #03889f;
}

#col2 {
    overflow: auto;
    display: flex;
    flex-direction: column;

}

#bijouName {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

#bijouPrice {
    font-size: 24px;
    padding-top:40px;
}

#bijouQuantite {
    font-size: 18px;
    margin-top: 10px;
}

#btnPanier {
    margin-top: 10px; 
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #03889f;
    border-radius: 5px;
    background-color: white;
    color: #03889f;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btnPanier:hover {
    background-color: #03889f;
    color: white;
}

#bijouCategorie {
    font-size: 18px;
    margin-top: 20px;
}

#bijouDescription {
    font-size: 18px;
    margin-top: 20px;

}

@media (max-width: 1024px) {
    #presentationBijou{
        display:block;
        justify-content:center;
    }

    #bijouImage{
        margin:auto;
        width:90%;
        height:500px;
    }

    #miniatures{
        margin-left:5%;
    }

    #bijouName{
        padding-top:20px;
    }
}