/* HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

header {
    background-color: #fff; 
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logoLien {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    height: 80px; 
    width: auto;
}

.mainNav {
    display: flex;
    margin-right: 20px;
}

.authNav {
    display: flex;
    justify-content: space-between;
}

.buttonH {
    text-align: center;
    padding: 10px; 
    text-decoration: none;
    position: relative; 
    margin: 0 3px;
}

.buttonH::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 12px; 
    width: 50%; 
    height: 1px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.buttonH:hover {
    color: #03889F;
}

.iconH{
    padding: 20px;
}

.fa-shopping-cart:hover{
    color: #03889F;
}

.fa-user:hover{
    color: #03889F;
}


.buttonH:hover::after {
    background-color: #03889F;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Masquer le menu burger par défaut */
}

/* Media Query pour les écrans de taille inférieure à 768 pixels (taille standard pour les tablettes et les téléphones) */
@media only screen and (max-width: 768px) {
    .logoLien {
        margin-right: 10px;
    }

    .mainNav {
        display: none; /* Cacher la navigation principale par défaut sur les écrans plus petits */
        flex-direction: column; /* Afficher les liens de navigation les uns en dessous des autres */
        position: absolute;
        top: 60px; /* Ajuster la position du menu déroulant en fonction de la hauteur du header */
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .mainNav a {
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .mainNav.show-menu {
        display: flex;
        z-index: 1;
        margin-top: 40px;

    }

    .authNav {
        display: none; /* Cacher la navigation d'authentification sur les écrans plus petits */
    }

    /* Afficher le menu burger */
    nav:before {
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    /* Afficher la navigation principale lorsqu'on clique sur le menu burger */
    nav.clicked .mainNav {
        display: flex;
    }


    
    .burger-menu {
        display: flex; /* Masquer le menu burger par défaut */
        justify-self: baseline;
    }
    .logoLien {
        display: flex; /* Utilisez Flexbox pour centrer le contenu */
        align-items: center; /* Alignez le contenu verticalement au centre */
        margin-right: auto; /* Déplacez le logo vers la gauche autant que possible */
        margin-left: auto; /* Déplacez le logo vers la droite autant que possible */
    }
}
/* FOOTER */

footer {
    padding: 20px 60px;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

footer h2{
    color: #03889F;
}

.footer-bottom p{
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.footer-section1.footer-section2 {
    width: 45%; 
}

h2, h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.social-icon:hover {
    color: #03889F;
}

ul {
    list-style-type: none;
}

.buttonF {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.buttonF:hover {
    color: #03889F;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

.lang-selector select {
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px; 
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.lang-selector select:hover {
    background-color: #f0f0f0; 
}

.lang-selector select:focus {
    outline: none;
    box-shadow: 0px 2px 4px #008098; 
}





