@font-face {
    font-family: 'Caveat';
    src: url('../font/Caveat-Regular.ttf') format('truetype');
}

/* HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

header {
    background-color: #fff; 
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logoLien {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    height: 80px; 
    width: auto;
}

.mainNav {
    display: flex;
    margin-right: 20px;
}

.authNav {
    display: flex;
    justify-content: space-between;
}

.buttonH {
    text-align: center;
    padding: 10px; 
    text-decoration: none;
    position: relative; 
}

.buttonH::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 12px; 
    width: 50%; 
    height: 1px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.buttonH:hover {
    color: #03889F;
}

.buttonH:hover::after {
    background-color: #03889F;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Masquer le menu burger par défaut */
}

#panier {
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
}

#panierCount {
    display: none;
    font-size: 15px;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: 0; /* Alignement en haut du conteneur du panier */
    right: 0; /* Alignement à droite du conteneur du panier */
    transform: translate(50%, -50%);
    background-color: #03889F;
    color: white;
}

a {
    display:grid;
    text-decoration: none;
}

a.iconH{
    margin-left:100px;
    justify-self:center;
}


/* Media Query pour les écrans de taille inférieure à 768 pixels (taille standard pour les tablettes et les téléphones) */
@media only screen and (max-width: 768px) {
    .logo {
        margin: auto;
        margin-left: 0; /* Ajustez la marge gauche à zéro */
    }

    .mainNav {
        display: none; /* Cacher la navigation principale par défaut sur les écrans plus petits */
        flex-direction: column; /* Afficher les liens de navigation les uns en dessous des autres */
        position: absolute;
        top: 60px; /* Ajuster la position du menu déroulant en fonction de la hauteur du header */
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .mainNav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajustez la valeur en fonction de votre mise en page */
        left: 0;
        width: 100%;
        background-color: #fff; /* Changez la couleur de fond selon vos besoins */
        z-index: 3;
        margin-top:40px;
     }
    .mainNav.active a:hover {
        background-color: lightblue; /* Changez la couleur de survol selon vos besoins */
        color:black;
    }

    .mainNav.active a {
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    
    .mainNav a {
        padding: 10px;
        width: 100%;
        text-align: left;
        color:black;
    }

    .mainNav.show-menu {
        display: flex;
        z-index: 1;
        margin-top: 40px;

    }

    /* Afficher le menu burger */
    nav:before {
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    /* Afficher la navigation principale lorsqu'on clique sur le menu burger */
    nav.clicked .mainNav {
        display: flex;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }


    .burger-menu::before {
        content: '\2630'; /* Code Unicode pour l'icône de menu hamburger */
        font-size: 25px;
        color: #333;
    }
    .logoLien {
        display: flex; /* Utilisez Flexbox pour centrer le contenu */
        align-items: center; /* Alignez le contenu verticalement au centre */
        margin-right: auto; /* Déplacez le logo vers la gauche autant que possible */
        margin-left: auto; /* Déplacez le logo vers la droite autant que possible */
    }

    nav {
        display: flex;
        justify-content: space-around;
    }
    .iconH{
        padding:unset;
    }

    a.iconH{
        margin-left:unset;
    }
    #panier {
        font-size: 40px;
        display: grid;
        grid-template-columns: 1fr auto;
        position: relative;
    }

    .logo{
        margin:auto;
        margin-left:40px;
    }

}

/* FOOTER */

footer {
    padding: 20px 60px;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

footer h2{
    color: #03889F;
    font-family:Arial;
    font-size:25px;
    text-align:unset;
}

footer p{
    font-size:unset;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.footer-section1.footer-section2 {
    width: 45%; 
}

h2, h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.social-icon:hover {
    color: #03889F;
}

ul {
    list-style-type: none;
}

.buttonF {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.buttonF:hover {
    color: #03889F;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

.lang-selector select {
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px; 
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.lang-selector select:hover {
    background-color: #f0f0f0; 
}

.lang-selector select:focus {
    outline: none;
    box-shadow: 0px 2px 4px #008098; 
}




