body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Caveat', sans-serif;
}

.login-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    text-align: center;
}

.login-container h2 {
    color: #03889F;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    font-size: 35px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #03889F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: white;
    color: #03889F;
    border: 1px solid #03889F;
}

@media (max-width: 768px) {
    .login-container {
        width: 100%;
        margin: 20px;
    }
}
