
body, html {
    margin: 0;
    padding: 0;
}


h2 {
    color: #03889f;
    font-family: 'Caveat';
    font-size: 35px;
}

#coordonnées p, #horaires p{
    font-size: 18px;
}


.conteneur {
    width: 100%;
    height: 400px;
    background-image: url("http://images.elaparaibatest.fr/PhotosFabrication/tableau.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.conteneur::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}

.texteConteneur {
    color: white;
    font-size: 50px;
    text-align: center;
    position: absolute;
}

#message::placeholder { 
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
}

#email::placeholder { /*position du message d'indication du mail*/
    font-size: 18px;
}


#carte { /*positionnement de la map*/

    text-align: center;
    display: flex; /* Utiliser flexbox pour aligner horizontalement */
    flex-direction: column;
}

    #carte iframe { /*carte de localisation*/
        width: auto;
        height: 500px;
        border: 1px solid black;
    }


#étage_1 { /*style de positionnement du premeier étage*/
    text-align: center;
    margin-top: 60px;
    margin-left: 100px;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


p { /*Affichage générale des textes*/
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}


#message { /*style de l'intpu text du message*/
    width: 390px;
    padding-bottom: 130px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

#email { /*style de l'intpu text du mail*/
    width: 50%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 103px;
    flex: 2;
}

.bouton {
    border: solid transparent;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    border-color: #03889f;
    background-color: white;
    color: #03889f;
}

    .bouton:hover {
        cursor: pointer;
        background-color: #03889f;
        color: white;
    }

#étage_2 {
    margin-left: 30px;
    margin-top: 30px;
}

#label_mail {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

#envoyer { /*affichage du form*/
    padding-bottom: 50px;
    padding-top: 30px;
}

#mail { /*affichage du form*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}


#question {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#h2 {
    padding-top: 25px;
}

#horaires {
    margin-top: 30px;
    margin-bottom: 70px;
}

#coordonnées { /*positionnement des coordonnées*/

    margin-bottom: 70px;
}

@media (max-width: 645px) {
    .container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    #carte iframe {
        margin-left: 20px;
        ;
        margin-right: 20px;
        width: auto;
        height: 400px;
    }

    #étage_1 { /*style de positionnement du premeier étage*/
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
    }

    #étage_2 {
        text-align: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 30px;
    }

    #question {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        height: auto;
        max-width: 470px;
    }

    #message { /*style de l'intpu text du message*/
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        max-width: 400px;
    }

    #email { /*style de l'intpu text du mail*/
        width: auto;
        height: 40px;
        margin-right: 43px;
    }

    #mail { /*affichage du form*/
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 20px;
    }
}
/* Ajoutez ces styles pour le pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}

.popup-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 25%;
}

    .popup-content p {
        color: #03889f;
    }

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
