body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.confirmation-container {
    text-align: center;
    position: relative;
}

.confirmation {
    font-size: 35px;
    border: 3px solid #333;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: inline-block;
    border-color: #03889F;
}

.continuer-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #03889F;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #03889F;
    border-radius: 5px;
    cursor: pointer;
}
    .continuer-btn:hover {
        background-color: white;
        color: #03889F;
        border-color: #03889F;
    }

i.fa-regular.fa-thumbs-up {
    color: #03889F;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
