.body {
    display: unset;
}

.shopping-cart {
    width: 1000px;
    height: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logoG {
    display: block;
    margin: auto;
    max-width: 150px;
    padding-bottom: 30px;
}

.shopping-cart h2 {
    color: #03889F;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}

#cart-items {
}

.item {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: auto 70% 3% auto auto; /* Ajustement de la disposition en colonnes */
    align-items: center; /* Alignement vertical au centre */
}

.item img {
    width: 150px; /* Ajustement de la largeur de l'image */
    margin-right: 10px; /* Marge à droite de l'image */
    height: 200px;
    object-fit: cover;
}

.item-name {
    color: #333;
    flex-grow: 1; /* Permet au nom de s'étendre pour remplir l'espace disponible */
}

.item-quantity {
    color: black;
    font-weight: bold;
}

.item-price {
    color: #000;
    font-weight: bold;
}

#cart-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 2px solid grey;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom:20px;
}

#total-price {
    color: #000;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #03889F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid white;
}

.checkout-btn:hover {
    background-color: white;
    color: #03889F;
    border: 1px solid #03889F;
}


.btn-supprimer-bijou{
    height:auto;
    width:auto;
    padding:10px;
    border:none;
    background-color:transparent;
}

.fas.fa-trash{
    font-size:20px;
}

.fas.fa-trash:hover{
    color:red;
}

@media (max-width: 768px) {
    .logoG{
        display:none;
    }

    .shopping-cart {
        width: 100%; /* Modifier la largeur à 100% pour une adaptation responsive */
        height: auto;
        background-color: #f9f9f9;
        padding: 20px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .item img {

        width: 130px; /* Ajustement de la largeur de l'image pour remplir la grille */
        margin-bottom: 10px; /* Ajout de marge en bas de l'image pour l'espacement */
        object-fit:cover;
    }

    .item{
        grid-template-columns:45% 30% 10% auto auto;
    }

    .item-name,
    .item-quantity,
    .item-price,
    .btn-supprimer-bijou {
        width: auto; /* Chaque élément prend toute la largeur */
        margin-bottom: 10px; /* Ajout de marge en bas pour l'espacement */
    }

    .item-name,
    .item-quantity,
    .item-price {
        flex: 1; /* Les trois premiers éléments (name, quantity, price) prennent une part égale de l'espace disponible */
    }

    .btn-supprimer-bijou {
        width: auto; /* Le bouton de suppression prend la largeur nécessaire */
    }
}
