@page "/bijoux"
@model Elaparaiba.Pages.Index1Model
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/bijoux.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
}
<div class="conteneur">
    <img src="../images/surMesure/bP7.jpg" alt="Image à assombrir">
    <div class="texteConteneur">Les Bijoux</div>
</div>
<div class="listes">
    <select id="categorie-select" onchange="trierBijoux()">
        <option class="styleoption" value="allbij" selected>Tous les bijoux</option>
        <option class="styleoption" value="boucle-oreille">Boucle d'oreille</option>
        <option class="styleoption" value="bracelet">Bracelet</option>
        <option class="styleoption" value="bague">Bague</option>
        <option class="styleoption" value="collier">Collier</option>
    </select>
    <select id="tri-select" onchange="trierBijoux()">
        <option value="" disabled selected hidden>Choisissez une option de tri</option>
        <option value="prix-croissant">Tri par prix croissant</option>
        <option value="prix-decroissant">Tri par prix décroissant</option>
        <option value="nouveaute">Tri par nouveauté</option>
    </select>
</div>
<div class="listeBijoux" id="listeBijoux"></div>
<div id="bouton-conteneur">
    <button id="voir-plus" onclick="afficherPlus()" hidden>Voir Plus</button>
</div>