@page "/ouMeTrouver"
@model Elaparaiba.Pages.ouMeTrouverModel
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/meTrouver.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
}


<!-- affichage generale -->
<div class="conteneur">
    <img src="../images/test.jpg" alt="">
    <div class="texteConteneur">Où me trouver ?</div>
</div>

<div id="étage_1">
    <!-- Carte de la page  -->
    <div id="carte">
        <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=5.799732208251953%2C46.42125044572081%2C5.806732892990112%2C46.42661017485891&amp;layer=mapnik&amp;marker=46.4239273%2C5.8032328"></iframe>
        <small><a href="https://www.openstreetmap.org/?mlat=46.4239273&amp;mlon=5.8032328#map=18/46.4239273/5.8032328">Agrandir la carte</a></small>
    </div>
    <!-- Carte de la page  -->

    <div id="coordonnées">
        <h2 id="titre2">Coordonnées</h2>
        <p id="vente">Point de vente : Atelier des savoirs faire 1 Grande rue 39170 Ravilloles</p>
        <p id="tel">Téléphone : 06 31 43 03 99</p>
        <p id="faxe">Courriel : 560 Route du bourg 715000 Saint-Usuge</p>
    </div>
</div>

<div id="étage_2">
    <div id="horaires">
        <h2>Horaires</h2>
        <p>Lundi-Vendredi : 8:00 - 18:00</p>
        <p>Samedi : 8:00 - 12:00</p>
    </div>

    <!-- Question de client en form -->
    <div id="question">
        <h2>Avez-vous une question ?</h2>
        <form onsubmit="return ValidationSubmit()" method="post" action="mailto:ezaic56@gmail.com">
            <label for="email" id="label_mail">E-mail :</label>
            <div id="mail">
                <input type="text" id="email" name="email" required placeholder="Entrer votre adresse mail ">
            </div>
            <input type="text" id="message" name="message" placeholder="Veillez saisir votre méssage" value="">
            <div id="envoyer">
                <input id="valid" type="submit" onclick="validateForm()" value="Envoyer" class="bouton">
            </div>
        </form>
    </div>
    <!-- Question de client  -->
</div>