/* HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

header {
    background-color: #fff; 
    padding: 0px 20px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logoLien {
    display: inline-block;
    margin-right: 60px;
}

.logo {
    height: 100px; 
    width: auto;
}

.mainNav {
    display: flex;
    margin-right: 60px;  
}

.authNav {
    display: flex;
    justify-content: space-between;
}

.buttonH {
    text-align: center;
    padding: 10px 10px 10px; 
    text-decoration: none;
    position: relative; 
    margin: 0 3px;
}

.buttonH::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 12px; 
    width: 50%; 
    height: 1px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.buttonH:hover {
    color: #03889F;
}

.buttonH:hover::after {
    background-color: #03889F; /
}

/* FOOTER */

footer {
    padding: 20px 60px;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

footer h2{
    color: #03889F;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.footer-section1.footer-section2 {
    width: 45%; 
}

h2, h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.social-icon:hover {
    color: #03889F;
}

ul {
    list-style-type: none;
}

.buttonF {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.buttonF:hover {
    color: #03889F;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

.lang-selector select {
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px; 
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.lang-selector select:hover {
    background-color: #f0f0f0; 
}

.lang-selector select:focus {
    outline: none;
    box-shadow: 0px 2px 4px #008098; 
}





